

.halaman-genap{
	position: absolute;
	float: left;
	right: 2%;
	bottom: 0;
	color: white;
	padding: 5px;
	background-color: #9E9E9E;
	border-radius: 50%;
	size: 100% 100%;
}

.halaman-ganjil{
	position: absolute;
	float: right;
	left: 2%;
	bottom:0;
	color: white;
	padding: 5px;
	background-color: #9E9E9E;
	border-radius: 50%;
	size: 100% 100%;
}
